/* both search box and result hidden by default */

@font-face {
  font-family: 'MetaBold'; 
  src: url('http://www.mozilla.com/img/fonts/MetaWebPro-Bold.eot');
  src: local('☺'), url('http://www.mozilla.com/img/fonts/MetaWebPro-Bold.woff')format('woff');
  font-weight: bold;
}
/*
#version-home {
  display: none;
}
*/

body {
  overflow-y: scroll;
}

#result-list li {
  padding: 5px 0 5px 0;
}

#version-search {
  display: none;
  margin: 0 auto 0 auto;
  width: 800px;
  font-family: Helvetica, Arial, Sans-serif;
}

#home-wrap {
  margin: 100px auto 0 auto;
  text-align: center;
}

.main-title {
  font-family: MetaBold;
  font-size: 34px;
  display: inline-block;
  margin: 20px 10px 0 0px;
  padding-top: 10px;
}

.search-container {
  margin-top: 50px;
}


#version-search input[type="text"] {
  border: 1px solid #d1d1d1;
  font: Helvetica, Arial,Sans-serif;
  color: #000000;
  width: 400px;
  padding: 6px 15px 6px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}



#search-form {
  margin-top: 25px;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #AAAAAA;
}

.sidebar-item {
  float: left;
  width: 150px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.sidebar-item h1 {
 font-weight: bold;
}

.results {
  clear: both;
  margin-top: 10px;
  padding-top: 10px ;
  border-top: 1px solid #AAAAAA;
}

.location {
  font-size: 12px;
  color: #AAAAAA;
}

.website {
  text-decoration: none;
  margin-left: 10px;
  font-size: 12px;
  color: #0E774A;
}

#search-not-form {
  margin: 30px 0 0 0;
}

/*
.searchform {
  background: -moz-linear-gradient(center top , #DDDDDD, #EDEDED) repeat scroll 0 0 transparent;
  border: 1px solid #FFFFFF;
  border-radius: 2em 2em 2em 2em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 3px 5px;
  float:right;
  margin-right: 10px;
  margin-top: 33px;
}

.searchform .searchfield {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #BCBBBB;
  border-radius: 2em 2em 2em 2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  outline: medium none;
  padding: 0px 6px 6px 8px;
  width: 456px;
}

.searchform .searchbutton {
  background: -moz-linear-gradient(center top , #9E9E9E, #454545) repeat scroll 0 0 transparent;
  border: 1px solid #494949;
  border-radius: 2em 2em 2em 2em;
  color: #FFFFFF;
  font-size: 11px;
  height: 27px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  width: 27px;
}

.searchform input {
  font: 100%/140% Arial,Helvetica,sans-serif;
}
*/
