/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ------------------
 styling for the tables
   ------------------   */

body {
  line-height: 1.6em;
}

h1 {
  font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  font-size: 14px;
  margin: 40px 10px 10px 20px;
}


table
{
  display: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 45px auto 0 auto;
  width: 720px;
  text-align: left;
}
th
{
  padding: 20px;
  font-weight: normal;
  font-size: 13px;
  color: #039;
  text-transform: uppercase;
}

tr {
  width: 100%;
}

td
{
  padding: 10px 20px;
  color: #669;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  width: 680px;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 13px;
  color: #BABABA;
  line-height: 90%;
}

#no-results {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  width: 680px;
}
