#page-wrap {
  margin: 50px auto 0 auto;
  width: 700px;
}

.cat-tabs {
  margin: 10px 0 10px 0;
}

.thumb-container {
  display: inline-block;
  margin: 15px 15px 15px 0px;
}

#page-wrap .tab-cat .cat-header {
  font-family: Helvetica, Arial, Sans-serif;
}

.thumb-container .thumbnail {
  display: block;
  border: 2px solid #AAAAAA;
}

.thumb-container .thumb-info {
  padding-top: 10px;
  display:block;
  font-family: Hevetica, Arial, Sans-serif;
  font-size: 12px;
}
